.page__wrappers {
  font-family: 'Conv_TTLakes-Bold', Helvetica, sans-serif;

  @media (min-width: 1120px) {
    position: relative;
    max-width: 1980px;
  }

  margin: 0 auto;
  min-width: 0;
  width: 100%;
  background-color: $background-color;
  align-items: center;

  display: flex;
  flex-direction: column;
}
