.price-title {
  margin: 10px 0 10px 0;
}

.prices-btn {
  width: 107px;
  height: 32px;
  border-radius: 16px;
  background-color: #FF3E79;
}

.page__prices {
  width: 100%;
  min-height: 280px;
}

@media (min-width: 768px) {
  .prices-mob {
    display: none;
  }
}

.prices-mob .prices-pagnation {
  margin-top: 35px;
}

.prices-mob .prices-mob__card {
  width: 260px;
  height: 200px;
  background-color: #fff;
  border-radius: 6px;
  padding-top: 6px;
}

.prices-mob .prices-mob__card .prices-mob__title {
  margin: 16px 0 4px 16px;
  color: #7E7E82;
  font-size: 14px;
  font-family: 'Conv_TTLakes-Light', Helvetica, sans-serif;
}

.prices-mob .prices-mob__card .prices-mob__subtitle {
  margin: 0 0 4px 16px;
  color: #1B1C21;
  font-size: 14px;
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
}

.prices-mob .prices-mob__card .prices-mob__btn {
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 32px;
  left: 120px;
  padding: 0 0 0 12px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices-mob .prices-mob__card .prices-mob__btn::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 3px;
  top: 11px;
  background: no-repeat url(../img/arrow-r.svg);
}

.prices-laptop {
  display: none;
  min-height: 400px;
}

@media (min-width: 768px) {
  .prices-laptop {
    display: block;
  }
}

.prices-laptop .wrapper-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 2fr;
      grid-template-columns: 3fr 1fr 2fr;
}

.prices-laptop .wrapper-header .prices-laptop__title {
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
  font-size: 14px;
  color: #7E7E82;
  margin: 0 0 16px 40px;
}

.prices-laptop .wrapper-main {
  min-width: 720px;
  min-height: 324px;
  background-color: #fff;
  border-radius: 6px;
  margin: 0 34px 0 24px;
}

.prices-laptop .wrapper-main .wrapper-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.39fr 1fr 1fr 1fr;
      grid-template-columns: 3.39fr 1fr 1fr 1fr;
  height: 65px;
  border-bottom: 1px solid #EAEAEA;
  margin: 0 16px 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices-laptop .wrapper-main .wrapper-items:last-child {
  border: none;
}

.prices-laptop .wrapper-main .wrapper-items .time {
  margin-left: 20px;
}

.prices-laptop .wrapper-main .prices-laptop__subtitle {
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
  font-size: 14px;
  color: #1B1C21;
  margin-top: 23px;
}

.prices-laptop .wrapper-main .prices-laptop__btn {
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 119px;
  justify-self: flex-end;
}

.prices-laptop .wrapper-main .prices-laptop__btn::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 3px;
  top: 11px;
  background: no-repeat url(../img/arrow-r.svg);
}

.wrapper-footer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 190px;
}

@media (min-width: 768px) {
  .wrapper-footer {
    max-width: 440px;
  }
}

.wrapper-footer .prices-laptop__description {
  font-size: 14px;
  color: #1B1C21;
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
  margin: 0 32px 0 6px;
}

@media (min-width: 768px) {
  .wrapper-footer .prices-laptop__description {
    margin: 0 32px 0 28px;
  }
}

.wrapper-footer .prices-laptop__link {
  text-decoration: none;
  font-family: 'Conv_TTLakes-Medium', Helvetica, sans-serif;
  color: #1B1C21;
  position: relative;
  font-size: 16px;
  margin: 20px 0 0 6px;
}

.wrapper-footer .prices-laptop__link::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 10px;
  background: no-repeat url(../img/Line.svg);
}

@media (min-width: 768px) {
  .wrapper-footer .prices-laptop__link {
    margin: 20px 0 0 28px;
  }
}
/*# sourceMappingURL=prices.css.map */